/* COLORS */
:root {
  --green: #173A2D;
  --gold: #D4AF37;
  --white: #F8F9FA;
}

/* GLOBAL */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--green);
  color: var(--white);
}
.span{
    margin-bottom: 6px;
    border-bottom: 2px solid var(--gold);
}
h2{
    font-size: 2rem;
}
a{
    color: var(--white);
    text-decoration: none;
}
.section {
  padding: 60px 10%;
  text-align: center;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
  background: #122a21;
}

.logo {
  color: var(--gold);
    font-size: 24px;
    font-weight: 700;
    font-family: "Playfair", serif;
    font-style: italic;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--white);
  text-decoration: none;
  
}

nav a:hover {
  border-bottom: 2px solid var(--gold);
}

/* HERO */
.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: var(--gold);
    font-family: "Playfair", serif;
    font-size: 56px;
    font-style: italic;
}

.hero img{
    border-radius: 100%;
    border: 2px solid var(--gold);
    width: 20%;
    height: 20%;
    transition: 0.3s;
}
.hero img:hover{
    width: 22%;
    height: 22%;
}
button {
  padding: 10px 20px;
  background: var(--gold);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
}
button:hover{
    padding: 10px 22px;
    border: 2px solid var(--gold);
  color: var(--gold);
  background-color: #122a21;
}
#about{
    display: flex;
    flex-direction: row;
    
    text-align: left;
}
#about div{
    padding: 40px;
}
#about img{
    width: 130%;
    border-radius: 12px;
}
#about p{
    text-align: justify;
    font-size: 16px;
}
/* CARDS */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid var(--gold);
  border-radius: 10px;
  max-width: 40%;
  font-weight: 600;
}
.card:hover{
    background-color: var(--gold);
    color: var(--white);
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
#achievements ul{
    display: flex;
    flex-direction: row;
}
#achievements ul div img{
    width: 80%;
}
#projects div p{
    text-align: justify;
}
.up{
    position: fixed;
    bottom: 10px;
    right: 30px;
}
.up button{
    padding: 10px;
    border-radius: 100%;
}
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #F8F9FA;
  font-size: 28px;
  margin: 0 15px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #D4AF37;
  transform: scale(1.2);
}